.idea
._*
.DS_Store
.vagrant*
tmp
boxbilling/src/bb-config*
!boxbilling/src/bb-config-sample.php
boxbilling/src/bb-data/log/*
boxbilling/src/bb-data/cache/*
boxbilling/src/bb-data/tmp.txt
# boxbilling/src/bb-vendor/*
boxbilling/src/bb-test.php
boxbilling/src/install/logs/*
boxbilling/src/.htaccess
.phpunit.result.cache

landingpage/vendor
# landingpage/logs/*
# landingpage/.env
# landingpage.env.backup
# landingpage/instlled
# landingpage/composer.lock
*.log