<html>
<head>
    <title>Example Application</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
<h1>Price Detail</h1>
<p>Title: {{ price.getTitle() }}</p>
<p>Desc: {{ price.getDescription() }}</p>
<p>Price: {{ price.getPrice() }}</p>
<p><a href='/'>Home</a></p>
</body>
</html>
